@import "tailwindcss";

@theme {
  --color-bg: #fefae0;
  --color-off-bg: #f4f0d6;
  --color-hover: #283618;
  --color-nav: #dda15e;
  --color-nav-hover: #bc6c25;
  --color-nav-text: #fefae0;
  --color-accent: #606c38;
}

:root {
  font-family: "EB Garamond", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-off-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-nav-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-nav-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

h3 {
  font-size: 1.6em;
  line-height: 1.1;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-nav);
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--color-nav-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
